In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score


nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
from sklearn.svm import LinearSVC

[nltk_data] Downloading package punkt to /Users/da_m1_46/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/da_m1_46/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/da_m1_46/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/da_m1_46/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
train_data = pd.read_csv('Train (1).csv')
test_data = pd.read_csv('Test (1).csv')

In [3]:
train_data

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence
...,...,...,...
39645,ID_ZZTLP2L5,"ENTRY 1299: 21F. 23M, BF’s cousin. Got drunk o...",sexual_violence
39646,ID_ZZXB10M6,So you’re telling me Emmanuel Macron was groom...,sexual_violence
39647,ID_ZZY8B7FJ,"My wife regularly beats me, I get dirty slaps ...",Physical_violence
39648,ID_ZZYAFD8L,Me: Hey babe! Police officer boyfriend: is tha...,sexual_violence
39649,ID_ZZZ8QEKT,“I will take accountability if you think it’s ...,sexual_violence

In [4]:
test_data

          Tweet_ID                                              tweet
0      ID_0095QL4S  because he was my boyfriend, and if I said no,...
1      ID_00DREW5O  lol no, I'm telling you it's not legal. It's l...
2      ID_00E9F5X9  Somalia's semi-autonomous Puntland region has ...
3      ID_00G9OSKZ  University of Cape Coast students being robbed...
4      ID_00HU96U6  "Somebody came up behind him and stabbed him i...
...            ...                                                ...
15576  ID_ZZR1D21T  A Teesside charity has filed a “super complain...
15577  ID_ZZSQF54Y             he ... forced me to have sex with him.
15578  ID_ZZTN5126  Female student of medical university raped at ...
15579  ID_ZZWS0XZZ  Bokamoso Mpembe (20 months) (Kidnapped and kil...
15580  ID_ZZZE5A5Q  Confession: Never Really Over reminds me of my...

[15581 rows x 2 columns]